[Desktop Entry]
Encoding=UTF-8
Name=External Monitor Brightness Control
Comment=Control external monitor brightness through different backends
Icon=video-display
Type=Service

X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Luis Bocanegra
X-KDE-PluginInfo-Email=luisbocanegra17b@gmail.com
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=luisbocanegra.brightness.control
X-KDE-PluginInfo-Version=v0.0.1
X-KDE-PluginInfo-Website=https://github.com/luisbocanegra/plasma-applet-brighty
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Category=Graphics

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
